{% extends 'downloader/base.html'%}

{% block title %}Wizzy Downloader{% endblock %}

{% block content%}
<div class="mainEntry">
<h1 class="allheads"><strong>Wizzy Downloader</strong></h1>
	<div id="typed-strings">
		<p>Download Videos</p><p><em>Free</em> Downloads</p><p>YouTube <strong>Dechiphered</strong></p>
	</div>
	<div id="typecon"><span id="typed"></span></div>
</div>
<hr><hr><hr>
<br><br>
<div class="row fact-1 divcons">
	<div class="container">
		<div class="col-md-6">
			<br><br><br><br><br><br>
			<p>Free Download of any youtube video.</p>
			<p style="text-align:right">Grab the link Paste It and <em>Viola!</em></p>
			<p>High quality video downloaded.</p>
			<p style="text-align:right">Very Simple and UserFriendly UI </p>
		</div>
		<div class="col-md-5 col-md-offset-1">
			<img src="../../static/downloader/images/youtube_image.png" alt="image not loaded" class="img img-responsive" height=400 width=400>
			<br><br>
		</div>
	</div>
</div>
<div class="row fact-2 divcons">
<br><br><br><br>
	<div class="container">
		<div class="col-md-5">
			<img src="../../static/downloader/images/weird_face_image.png" alt="image not loaded" class="img img-responsive" height=400 width=400>
			<br><br><br><br>
		</div>
		<div class="col-md-6  col-md-offset-1">
			<br><br>
			<p>Create your own <em>Account</em></p>
			<p style="text-align:right">Maintain a list of all your Downloads</p>
			<p>Easily revisit downloaded links on <em>YouTube</em></p>
			<p style="text-align:right">Sign Up now to enjoy other benefits</p>
			<br><br>
		</div>
	</div>
</div>
<div class="row fact-3">
<br><br><br><br>
	<div class="container">
		<div class="col-md-4">
			<div class="footerCons">
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../static/downloader/images/download.png" width=300 height=300><br><br>
				<p class="footText"><a class="btn btn-success" href="{% url 'downloader:details' %}">Go to the Downloader Page</a></p>
				<br>
			</div>
		</div>
		<div class="col-md-4">
			<div class="footerCons">
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../static/downloader/images/user-check-interface-symbol_318-60830.jpg" width=300 height=300><br><br>
				<p class="footText"><a class="btn btn-primary" href="{% url 'downloader:profile' %}">Visit Profile Page</a></p>
				<br>
			</div>
		</div>
		<div class="col-md-4">
			<div class="footerCons">
				<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../../static/downloader/images/youtube.png" width=300 height=300><br><br>
				<p class="footText"><a class="btn btn-danger" href="https://www.youtube.com/" target="_blank">Visit YouTube</a></p>
				<br>
			</div>
		</div>
	</div>
	<br><br>
</div>
<div class="footerElement">
	<p class="footText" style="color:white">This site has been completely developed in <strong>Django Framework</strong></p>
</div>
<script>
var images = ["../../static/downloader/images/vfwvVg6.jpg","../../static/downloader/images/aa9dQbT.jpg","../../static/downloader/images/hB9BkIl.png","../../static/downloader/images/MrCK2sg.jpg","../../static/downloader/images/AF5I0JZ.png","../../static/downloader/images/A8HX0SH.png","../../static/downloader/images/1bCpo8q.jpg","../../static/downloader/images/gKIUh1g.png"];
var index = 1;
document.addEventListener('DOMContentLoaded', function(){
		Typed.new('#typed', {
			stringsElement: document.getElementById('typed-strings')
		});
});

$(document).ready(function(){
	$(".allheads").addClass("animated tada");
	function slider(){
		$(".mainEntry").css("background-image","url('"+images[index]+"')");
		index++;
		if(index === images.length)
			index=0;
	}
	setInterval(slider,5000);
});

</script>
{% endblock %}
