{% extends 'downloader/base.html' %}
{% block title %}Profile:{{user.username}}{% endblock %}
{% block content %}
<div class="row">
	 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                    <div class="tutor-block">
                        <div class="tutor-img">
                            <img src="http://i.imgur.com/8ka8RPi.png" class="img img-responsive" style="width:100%;height:100%;"/>
                        </div>
                        <div class="tutor-content">
                            <h5 class="tutor-title">{{user.username}}</h5>
                            <span class="tutor-designation">{{user.email}}</span>
                        </div>
                    </div>
                    <div class="social-media">
                        
                    </div>
     </div>
	<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 mb30">
		<div class="tutor-block">
		<table class="table table-striped">
	<thead>
		<th>Previous Downloads</th>
		<th>Linked Video</th>
		<th>Date of Download</th>
	</thead>
	{% for video in all_video|slice:':6' %}
	<tr class="profile-table-row">
		<td class="link-vid"><a href="{{ video.video }}" target="_blank">{{ video.video }}</a></td>
		<td class="vid">
			<div class="row">
			  <div class="col-sm-12">
			    <div class="bs-example" data-example-id="responsive-embed-16by9-iframe-youtube">
			      <div class="embed-responsive embed-responsive-4by3">
			        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.video|slice:'32:' }}"></iframe>
			      </div>
			    </div>
			  </div>
			</div>
		</td>
		<td class="date-vid">{{ video.date }}</td>
	</tr>
	{% endfor %}
</table>
		</div>
	</div>
</div>

{% endblock %}